* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main-div {
  widows: 50%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: absolute;
  transform: translate(50%, 50%);
}
.center-div {
  width: 30%;
  height: 60vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #000000;
  background-color: transparent;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button {
  min-height: 40px;
  border-radius: 5%;
  background-color: #30336b;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 15px;
  margin-top: 30px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  background-color: #22a6b3;
}
.btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
